<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoleStyle</title>
  <!-- cdn link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <!-- custom css -->
<link rel="stylesheet" type="text/css" href="/static/signup.css">
</head>
<body>
  <!-- header section starts -->
  <header>

    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/shop">Shop</a>
    <a href="/">Products</a>
    </nav>
    <a href="/" class="logo">SoleStyle<span>.</span></a>
    <nav class="navbar">
      <a href="#contact">Contact</a>
    </nav>

    <div class="icons">
      <a href="wishlist.html" class="fas fa-heart"></a>
      <div class="dropdown">
        <a href="#" class="fas fa-user"></a>
        <div class="dropdown-content">
          <a href="signup.html">Sign Up</a>
          <a href="login.html">Login</a>
        </div>
      <!-- <a href="#" class="fas fa-sign-in-alt"></a> -->

      <a href="#" class="fas fa-shopping-cart"></a>
    </div>




   </header>
  <!-- header section ends -->

   <!-- product section starts -->
  <section class="products" id="products">
    <h1 style="margin-top:6rem ;" class="heading"> latest <span>products</span> </h1>

    <div class="box-container">
      <div class="box">
        <span class="discount">-10%</span>
        <div class="image">
          <img src="/static/images/sweater1.jpeg" alt="">
          <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="cart-btn">add to cart</a>
          </div>
        </div>
        <div class="content">
          <h3>Sweater</h3>
          <div class="price">Rs1350 <span>Rs1500</span> </div>
        </div>
      </div>
     <div class="box">
      <span class="discount">-10%</span>
      <div class="image">
        <img src="/static/images/sweater1.jpeg" alt="">
        <div class="icons">
          <a href="#" class="fas fa-heart"></a>
          <a href="#" class="cart-btn">add to cart</a>
        </div>
      </div>
      <div class="content">
        <h3>Sweater</h3>
        <div class="price">Rs1350 <span>Rs1500</span> </div>
      </div>
   </div>


   <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
     <img src="/static/images/sweater1.jpeg" alt="">
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="cart-btn">add to cart</a>
      </div>
    </div>
    <div class="content">
      <h3>Sweater</h3>
      <div class="price">Rs1350 <span>Rs1500</span> </div>
    </div>
 </div>

</div>
<div class="box-container">
  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
    <img src="/static/images/sweater1.jpeg" alt="">
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="cart-btn">add to cart</a>
      </div>
    </div>
    <div class="content">
      <h3>Sweater</h3>
      <div class="price">Rs1350 <span>Rs1500</span> </div>
    </div>
  </div>
  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
     <img src="/static/images/sweater1.jpeg" alt="">
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="cart-btn">add to cart</a>
      </div>
    </div>
    <div class="content">
      <h3>Sweater</h3>
      <div class="price">Rs1350 <span>Rs1500</span> </div>
    </div>
  </div>
  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
      <img src="/static/images/sweater1.jpeg" alt="">
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="cart-btn">add to cart</a>
      </div>
    </div>
    <div class="content">
      <h3>Sweater</h3>
      <div class="price">Rs1350 <span>Rs1500</span> </div>
    </div>
  </div>
  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
   <img src="/static/images/sweater1.jpeg" alt="">
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="cart-btn">add to cart</a>
      </div>
    </div>
    <div class="content">
      <h3>Sweater</h3>
      <div class="price">Rs1350 <span>Rs1500</span> </div>
    </div>
  </div>
  <div class="box">
    <span class="discount">-10%</span>
    <div class="image">
      <img src="/static/images/sweater1.jpeg" alt="">
      <div class="icons">
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="cart-btn">add to cart</a>
      </div>
    </div>
    <div class="content">
      <h3>Sweater</h3>
      <div class="price">Rs1350 <span>Rs1500</span> </div>
    </div>
  </div>
<div class="box">
  <span class="discount">-10%</span>
  <div class="image">
   <img src="/static/images/sweater1.jpeg" alt="">
    <div class="icons">
      <a href="#" class="fas fa-heart"></a>
      <a href="#" class="cart-btn">add to cart</a>
    </div>
  </div>
  <div class="content">
    <h3>Sweater</h3>
    <div class="price">Rs1350 <span>Rs1500</span> </div>
  </div>
</div>
   </section>

   <!-- product section ends -->



   <!-- footer section starts -->

    <section class="footer">
      <div class="box-container">
       <div class="box">
         <h3>quick links</h3>
         <a href="#">Home</a>
         <a href="#">Shop</a>
         <a href="#">Products</a>
       </div>
        <div class="box">
         <h3>Location</h3>
         <a href="#">Home</a>
         <a href="#">Shop</a>
         <a href="#">Products</a>
        </div>
        <div class="box">
          <h3>Contact</h3>
          <a href="#">xxxviii</a>
          <a href="#">xxx@xxx.com</a>
        </div>


        <div class="copyright">
          <p>&copy; 2024 <span>Stole Style</span>. All rights reserved.</p>
        </div>
      </div>
    </section>


















   <!-- footer section ends -->













</body>
</html>
